// ==========================================================================
// $nav
// ==========================================================================

nav {
  font-family: $font-family-heading;

  a {
    display: block;
  }

  p a {
    font-size: 1.2em;
    text-transform: uppercase;
    letter-spacing: rem(1);
  }
}


// ==========================================================================
// $nav__logo
// ==========================================================================

#nav__logo {
  width: rem(100);

  @include media('>=tablet') {
    width: rem(150);
  }
}