// ==========================================================================
// $cta
// ==========================================================================

.cta {
  padding: span(1) 0;
  text-align: center;

  h2 {
    margin-top: 0;
  }
}
